:root {
  font-family: "Kumbh Sans";
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --accent-500: hsl(26, 100%, 55%);
  --accent-800: hsl(25, 100%, 94%);
  --blue-200: hsl(220, 13%, 13%);
  --blue-400: hsl(219, 9%, 45%);
  --blue-600: hsl(220, 14%, 75%);
  --blue-800: hsl(223, 64%, 98%);
  --white: white;
  --box-shadow-color: hsla(0, 0%, 0%, 0.25);
  --border-color: rgb(207, 207, 207);
  --text: hsl(220, 13%, 13%);
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body {
  min-height: 100dvh;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}
